@import '../_variables';
@import '../_mixins';

@import './_typography';

%button-base {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  padding: 16px 24px;
  font-weight: 500;
  text-transform: uppercase;
  letter-spacing: 4;
}

@mixin button-filled($color, $background-color) {
  @extend %button-base;

  transition: border-color $durationShort, color $durationShort, background-color $durationShort;
  color: $color;
  background-color: $background-color;
  border: 2px solid $background-color;
  fill: $color;

  @include hoverActive {
    background-color: $color;
    color: $background-color;
    fill: $background-color;
    border-color: $background-color
  }
}

@mixin button-outline($color, $background-color) {
  @extend %button-base;

  transition: color $durationShort, background-color $durationShort;
  color: $color;
  fill: $color;
  border: 2px solid $color;

  @include hoverActive {
    background-color: $color;
    fill: $background-color;
    color: $background-color;
  }
}

@mixin button-text($color) {
  @extend %button-base;

  color: $color;
  fill: $color;
}

button, .button {
  @extend %typography-base;
  cursor: pointer;
  border: none;
  background-color: transparent;
  padding: 0;

  &.button-text-black {
    @include button-text($black);
  }

  &.button-text-white {
    @include button-text($white);
  }

  &.button-filled-black {
    @include button-filled($white, $black);
  }

  &.button-filled-white {
    @include button-filled($black, $white);
  }

  &.button-outline-black {
    @include button-outline($black, $white);
  }

  &.button-outline-white {
    @include button-outline($white, $black);
  }

  &.button-icon {
    padding-right: 12px;

    > .icon {
      transition: margin $durationShort, fill $durationShort;
      fill: inherit;
      margin-left: 4px;
      margin-right: 8px;
    }

    @include hoverActive {
      > .icon {
        margin-left: 12px;
        margin-right: 0px;
      }
    }
  }
}