@import '../_variables';

.icon {
  width: 28px;
  height: 28px;
  transition: fill $durationShort;

  &.black {
    fill: $black;
  }
  
  &.white {
    fill: $white;
  }
  
  &.primary {
    fill: $primary;
  }
}
