@import '../_variables';

video, .video {
  display: flex;
  flex-direction: column;
  align-items: center;

  &.video-black > .frame {
    border-color: $black;
  }

  &.video-white > .frame {
    border-color: $white;
  }

  > .frame {
    border: 2px solid transparent;
    padding: 8px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: $xs;
    max-width: $sm;
  }
}