@import "../_variables";

.Footer {
  border-top: 2px solid $black;
  padding: 16px;

  > .logos {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    width: 100%;
    gap: 32px;

    @media (min-width: $md) {
      justify-content: space-between;
      flex-wrap: nowrap;
    }

    > .partners {
      display: flex;
      justify-content: center;
      flex-wrap: wrap;
      gap: 32px;
      width: 100%;

      @media (min-width: $md) {
        justify-content: flex-start;
        flex-wrap: nowrap;
      }

      > img {
        width: auto;
        height: 48px;
      }
    }

    > .logo {
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 8px;
    }
  }

  > .socials {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 24px;
    padding: 16px 0px;

    @media (min-width: $md) {
      flex-wrap: nowrap;
    }
  }

  > .source > p {
    text-align: center;

    + p {
      margin-top: 0.25rem;
    }
  }
}
