@import '../_variables';

.Navigation {
  position: fixed;
  width: 100%;

  > nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: $md;
    margin: 0 auto;
    padding: 20px;

    > ul {
      display: flex;
      justify-content: flex-end;
      gap: 80px;
    }
  }
}