@import "../_variables";

.Navigation {
  position: fixed;
  width: 100%;
  transition: background-color $durationComplex;
  z-index: 10;
  max-height: $header;

  > nav {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: $md;
    margin: 0 auto;
    padding: 20px;

    > .logo {
      display: flex;
      gap: 10px;

      > p {
        transition: color $durationShort;
      }

      > svg {
        height: 40px;
        transition: stroke $durationShort;
      }
    }

    > ul {
      @media (max-width: $md) {
        > li > a.active {
          padding-left: 20px;
    
          &::before {
            content: '> ';
            position: absolute;
            left: 0px;
          }
        }
      }

      @media (max-width: $sm) {
        position: absolute;
        display: none;
        left: 0px;
        right: 0px;
        top: 100%;
        border-top: 2px solid $primary;
        background-color: $black;
        box-shadow: $boxShadow;

        &.open {
          display: block;
        }
  
        > li {
          margin: 24px;
  
          > a {
            color: $white;
          }
        }
      }

      display: flex;
      justify-content: flex-end;
      gap: 40px;

      @media (min-width: $md) {
        gap: 80px;
      }

      > li > a {
        transition: color $durationShort;
      }
    }

    > button {
      display: inline-flex;
      align-items: center;
      gap: 8px;
      transition: color $durationShort;

      &.active > svg {
        transform: rotate(180deg);
      }

      > svg {
        transition: fill $durationShort;
      }

      @media (min-width: $sm) {
        display: none;
      }
    }
  }

  &.active, &.always {
    background-color: $black;
    box-shadow: $boxShadow;

    > nav {
      > .logo {
        > svg {
          stroke: $white;
        }

        > p {
          color: $white;
        }
      }

      > button {
        color: $white;

        > svg {
          fill: $white;
        }
      }

      > ul > li > a {
        color: $white;

        &:after {
          background-color: $white;
        }
      }
    }
  }
}
