@import "../_variables";

@mixin section-content($color, $background-color) {
  background-color: $background-color;
  color: $color;
  padding: 96px 16px;

  @media (min-width: $sm) {
    padding: 192px 32px;
  }

  > .Text-and-image > img {
    border-color: $color;
  }
}

%page-base {
  display: grid;
  grid-template-columns: repeat(3, auto);
  justify-items: center;

  > * {
    grid-column: 2;
    max-width: $md;
  }
}

.Page {
  > section {
    @extend %page-base;
    padding: 32px 16px;

    &.section-content-black {
      @include section-content($white, $black);
    }

    &.section-content-white {
      @include section-content($black, $white);
    }
  }

  > footer {
    @extend %page-base;
  }
}
