@import "../_variables";

%page-base {
  display: grid;
  grid-template-columns: 1fr min(100%, $md) 1fr;

  > * {
    grid-column: 2;
    min-height: 0;
  }
}

@mixin section-content($color, $background-color) {
  background-color: $background-color;
  color: $color;
  padding: 96px 16px;

  @media (min-width: $sm) {
    padding: 192px 32px;
  }

  > .Text-and-image > img {
    border-color: $color;
  }
}

main {
  &.page-text {
    > section {
      grid-template-columns: 1fr min(100%, $sm) 1fr;
    }
  }

  > section {
    @extend %page-base;
    padding: 32px 16px;

    &.section-content-black {
      @include section-content($white, $black);
    }

    &.section-content-white {
      @include section-content($black, $white);
    }
  }

  > footer {
    @extend %page-base;
  }
}
