.Resource {
  background-color: $black;
  padding: 24px 32px;

  > .header {
    display: flex;
    justify-content: space-between;
    color: $white;
    margin-bottom: 16px;

    > span {
      display: inline-flex;
      align-items: center;
      gap: 4px;
      font-style: italic;
    }
  }

  > p {
    color: $white;
    margin-bottom: 16px;
  }

  > .actions {
    display: flex;
    justify-content: flex-end;

    > button {
      padding: 8px 16px;
      gap: 8px;
    }
  }
}