@import '../../_variables';
@import '../../components/_image';

.Text-and-image {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 80px;

  @media (min-width: $md) {
    flex-wrap: nowrap;
  }

  &.reverse {
    flex-direction: row-reverse;
  }

  > img {
    @extend %image-base;

    flex-shrink: 0;
    object-fit: cover;
    max-width: $xs;
    max-height: $xs;
  }

  > .text {
    display: flex;
    flex-direction: column;
    padding: 16px 0px;

    > .button {
      align-self: flex-end;
      margin-top: 32px;
    }
  }
}