@import "../../scss/_reset";

@import "../../scss/components/_icon";
@import "../../scss/components/_typography";
@import "../../scss/components/_button";
@import "../../scss/components/_link";

@import "../../scss/modules/_breadcrumbs";
@import "../../scss/modules/_page";
@import "../../scss/modules/_navigation";
@import "../../scss/modules/_footer";

@include scrollOffset(100px);

body {
  > main > section:nth-child(2) > div > .contact {
    margin-top: 48px;
    display: flex;
    flex-direction: column;
    gap: 32px;

    @media (min-width: $sm) {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
    }

    > section {
      > a {
        margin-bottom: 16px;
      }

      > ul > li {
        margin-bottom: 0.75rem;
        margin-left: 0.75rem;
      }
    }
  }
}
