$xs: 480px;
$sm: 768px;
$md: 1024px;
$lg: 1200px;
$xl: 1920px;

$black: #22261f;
$white: #f5f3e7;
$primary: #c2282d;

$durationShort: 250ms;
$durationStandard: 300ms;
$durationComplex: 375ms;

$header: 100px;
