@import "../../scss/_reset";

@import "../../scss/components/_icon";
@import "../../scss/components/_typography";
@import "../../scss/components/_button";
@import "../../scss/components/_link";

@import "../../scss/modules/blocks/_carousel";

@import "../../scss/modules/_breadcrumbs";
@import "../../scss/modules/_page";
@import "../../scss/modules/_navigation";
@import "../../scss/modules/_footer";

@include scrollOffset(100px);

main {
  > section:first-child {
    height: 100vh;
    min-height: 540px;
    padding: 0px;
    position: relative;

    > * {
      grid-column: 1 / 4;
    }
  }
}
